body {
  background-color: rgb(168, 170, 168);
  display: flex;
  justify-content: center;
}

.logo1 {
  position: relative;
  z-index: 1;
}

#logo {
  background-image: linear-gradient(
    to right,
    #42494d 0%,
    #1c485e 51%,
    #075386 100%
  );
  width: 3rem;
}
.err {
  font-family: "Poppins", sans-serif;
  color: #e9e4e4;
  background-color: #1c485e ;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: absolute;
  right: 2rem;
  bottom: 8.5rem;
}

#name-err {
  bottom: 12.65rem;
  right: 5.1rem;
}

.logo {
  height: 3.5rem;
  position: absolute;
  right: 0.55rem;
  top: 0.6rem;
}
.visa-card {
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  font-family: "Poppins", sans-serif;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  height: 12rem;
  width: 20rem;
  color: #fff;
  z-index: 2;
  margin-top: 4.5rem;
  position: absolute;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.card-holder {
  margin-top: 4.6rem;
}
.cardholder-heading {
  font-size: 12px;
  color: #dfdfdf;
}
.name {
  margin-top: -0.7rem;
}

.expires {
  margin-top: 4.6rem;
}
.date-heading {
  font-size: 12px;
  color: #dfdfdf;
}
.date {
  margin-top: -0.7rem;
}

.info-card {
  background-color: #fff;
  width: 25rem;
  height: auto;
  z-index: 1;
  border-radius: 1rem;
  margin-top: 10rem;
  padding: 0 .3rem;
}

.submit {
  width: 81.5%;
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  font-family: "Poppins", sans-serif;

  border: none;
  padding: 0.55rem;
  border-radius: 2px;
  margin: 1.8rem 2.6rem;
  color: #fff;
}

.info {
  margin-top: 9rem;
  margin-left: 2.5rem;
}
.cardnumber-heading {
  font-size: 12px;
  color: #3a6073;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.smallbox {
  border: 2px solid #afafaf;
  height: 1.7rem;
  border-radius: 5px;
  width: 17.25%;
  background-color: #fff;
}

.smalll-box {
  border: 2px solid #afafaf;
  height: 1.7rem;
  border-radius: 5px;
  width: 3.9rem;
  background-color: #fff;
}

.card-number {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.long-box {
  border: 2px solid #afafaf;
  height: 1.7rem;
  border-radius: 5px;
  width: 89%;
}

.smal-box {
  margin-right: 2rem;
  border: 2px solid #afafaf;
  height: 1.7rem;
  border-radius: 5px;
  width: 3.9rem;
  position: relative;
}

.expiration-date {
  display: flex;
  justify-content: space-between;
}

.expiration-flex {
  display: flex;
  gap: 1rem;
}

.dropdown {
  border: 2px solid #afafaf;
  height: 1.7rem;
  border-radius: 5px;
  width: 4.6rem;
  height: 2.15rem;
}

.cvv-flex {
  display: flex;
  justify-content: space-between;
  margin-right: 4.6rem;
}

@media (min-width: 768){

}